<section id="about" class="padding-60">
  <div class="container">
    <div class="heading text-center">
      <h2>About</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-4 text-center tile-box">
        <div class="tile-box-header"> <i class="fa fa-desktop"></i>
          <h3>Responsive <span class="id-color">Design</span></h3>
        </div>
        <p>Passionate about responsive design and delivering a great experience to users regardless of platform or device. Frameworks like Bootstrap and Foundation and even some flex-box are vital.</p>
      </div>
      <div class="col-md-4 text-center tile-box">
        <div class="tile-box-header"><i class="fa fa-html5"></i>
          <h3>HTML5 &amp; <span class="id-color">CSS3</span></h3>
        </div>
        <p>Eager to use the best available technologies to build and use APIs for complex web applications. I prefer developing for cross-platform mobile applications and using modern technologies.</p>
      </div>
      <div class="col-md-4 text-center tile-box">
        <div class="tile-box-header"><i class="fa fa-code"></i>
          <h3>JavaScript &amp; <span class="id-color">jQuery</span></h3>
        </div>
        <p>Continually learning and expanding my knowledge of javascript in hopes of one day becoming an expert... Future plans include becoming a full stack developer, even though I've dabbled in all the various technologies.</p>
      </div>
    </div>
  </div>
</section>