<section id="experience" class="padding-60">
  <div class="container">
    <div class="heading text-center">
      <h2>Experience</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-4 text-center tile-box">
        <div class="tile-box-header">
          <h3>Cision (PR Newswire)</h3>
          <h5>August 2008 - Present</h5>
        </div>
        <p></p>
      </div>
      <div class="col-md-4 text-center tile-box">
        <div class="tile-box-header">
          <h3>Kaminsky Productions</h3>
          <h5>May 2016 - Present</h5>
        </div>
        <p></p>
      </div>
      <div class="col-md-4 text-center tile-box">
        <div class="tile-box-header">
          <h3>Best Traffic School</h3>
          <h5>January 2015 - November 2016</h5>
        </div>
        <p></p>
      </div>      
    </div>
  </div>
</section>