<section id="skills" class="padding-60">
  <div class="container">
    <div class="heading text-center">
      <h2>Skills</h2>
      <p>Always trying to learn, passionate about front end development.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Programming <strong>Skills</strong></h2>
        <p class=""></p>
        <div class="row">
          <div class="col-md-2 skill">HTML5</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                <span class="sr-only">70% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">CSS/CSS3</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">JavaScript</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                <span class="sr-only">50% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">jQuery</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">Ruby</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                <span class="sr-only">30% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">PHP</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                <span class="sr-only">30% Complete</span>
              </div>
            </div>
          </div>
        </div>          
      </div>
      <div class="col-sm-6">
        <h2>Skills in <strong>Training</strong></h2>
        <p class=""></p>
        <div class="row">
          <div class="col-md-2 skill">Javascript</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                <span class="sr-only">30% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">MongoDB</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                <span class="sr-only">10% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">Express</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                <span class="sr-only">10% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">Angular</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                <span class="sr-only">10% Complete</span>
              </div>
            </div>
          </div>
        </div>                      
        <div class="row">
          <div class="col-md-2 skill">NodeJS</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                <span class="sr-only">10% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 skill">VueJS</div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">0% Complete (interested in learning)</span>
              </div>
            </div>
          </div>
        </div>               
      </div>
    </div>
  </div>
</section>